$assetsUrl:"../../../public/assets/images/";
.main{
    background-image: url("../../../public/assets/images/main_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}